<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/css/main.css' />
    <script src="/assets/js/common.js"></script>
  </head>
  <body data-page="{{activePage}}">
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
