<div class="container">
    <h1>{{title}}</h1>

    <form method="post" class="block">
        <input type="email" name="email" value="" placeholder="Email"/>
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
