html, body {
    background: #fff;
    padding: 0;
    margin: 0;
}

[data-route="dashboard"] #header a.dashboardLink {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

[data-route="about"] #header a.aboutLink {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

#header {
    background: #369;
    color: #fff;
    height: 50px;
    padding: 0 40px;
    line-height: 40px;
}

#header a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#header ul {
    display: block;
    padding: 0;
    margin: 0;
}

#header ul > li {
    display: inline-block;
    margin: 0 10px;
}

#header ul > li + li {
    margin-left: 0;
}

#content {
    padding: 20px 40px;
}